<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submission Successful</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Registration Successful</h1>

      <div class="card">
        <p><strong>Name:</strong> <%= user.name %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><strong>Age:</strong> <%= user.age %></p>
        <p><strong>Course:</strong> <%= user.course %></p>
        <p><strong>Phone:</strong> <%= user.phone %></p>
        <p><strong>Total Submissions:</strong> <%= totalSubmissions %></p>
      </div>
      <a href="/">Go Back</a>
    </div>
  </body>
</html>
